/* colors: blue: #0066cc | firebrick | green: #009966*/
:root { --main-color: #0066cc; }

body {
    /*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
    font-family: Verdana,Geneva,sans-serif;
    margin: 0px auto 0px auto;
    padding: 40px 40px 40px 40px;
    max-width: 700px;
    line-height: 26px;
}

h1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 46px;
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    margin: 0px auto 0px auto;
    padding: 15px 0px 15px 0px;
    width: 100%;
    height: auto;
}

pre {
    padding: 10px;
    line-height: 18px;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: lightgrey;
}

a:link {
    text-decoration: none;
    color: var(--main-color);
}

a:visited {
    text-decoration: none;
    color: var(--main-color);
}

.clean-list {
    list-style: none;
    padding: 0px;
}

.writing-list span {
    color: grey;
}

.writing-date {
    color: grey;
}

/*@media (prefers-color-scheme: dark) {
    body {
        color: #EEEEEE;
        background-color: #222222;
    }

    pre {
        background-color: #1e1e1e;
    }
}*/
