/* css variable */
/* colors: blue: #0066cc | firebrick | green: #009966*/
:root {
    --main-color: #0066cc;
}

body {
	margin: 20px auto 40px auto;
	padding: 0px 20px 0px 20px;
	max-width: 700px;
	font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
	font-size: 18px;
}

h1 {
	margin-bottom: 5px;
	padding-bottom: 0px;
}

a:link {
    text-decoration: none;
    color: var(--main-color);
}

a:visited {
    text-decoration: none;
    color: var(--main-color);
}

@media print {
	body {
		max-width: none;
	}
}