/*
main-style.css
*/

/* default elements */
body {
    margin: 25px auto 25px auto;  /* top right bottom left */
    padding: 0px 25px 0px 25px;
    max-width: 800px;

    font-family: Verdana,Geneva,sans-serif;
    font-size: 16px;
    line-height: 26px;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0px;
    padding-top: 0px;
}

/* links */
a:link {
    text-decoration: none;
    color: #0000EE;
}
a:visited {
    text-decoration: none;
    color: #551A8B;
}

/* CSS Grid */
.header {
    grid-area: header;
    border-bottom: 1px solid black;
}
.left-sidebar {
    grid-area: left-sidebar;
}
.main-content {
    grid-area: main-content;
}
.footer {
    grid-area: footer;
}
.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header header header header header'
    'left-sidebar left-sidebar main-content main-content main-content main-content main-content main-content main-content main-content'
    'footer footer footer footer footer footer footer footer footer footer';
    grid-gap: 25px;
    grid-column-gap: 60px;
}

/* media queries */
@media only screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-areas:
        'header header header header header header header header header header'
        'left-sidebar left-sidebar left-sidebar left-sidebar left-sidebar left-sidebar left-sidebar left-sidebar left-sidebar left-sidebar'
        'main-content main-content main-content main-content main-content main-content main-content main-content main-content main-content'
        'footer footer footer footer footer footer footer footer footer footer';
        grid-gap: 25px;
    }
}